.login {
    padding: 90px 0px;
}

.login__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__img {
    width: 593.5501098632812px;
    height: 711.3756103515625px;
    top: 109px;
    left: 96.72px;
    opacity: 1;
    border-width: 1px;
}

.login__title {
    font-family: Public Sans;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.login__text {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.login__sub-title {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.login__sub2-title {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: right;
    vertical-align: middle;
    color: #FA8B00;
    margin-bottom: 5px;
}

.login__input {
    margin-bottom: 15px;
}

.login__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__row2 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login__input-btn {
    width: 372px;
    height: 34px;
    opacity: 1;
    font-family: Public Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    outline: none;
    border: none;
    border-radius: 5px;
}

.login__btn {
    width: 372px;
    height: 38px;
    opacity: 1;
    border-radius: 6px;
    background: #FA8B00;
    font-family: Public Sans;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.43px;
    vertical-align: middle;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.login__sub3-title {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.login__title-span {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #FA8B00;
}