PORT=4003

PG_PORT=5432
PG_HOST=localhost
PG_PASS=1234
PG_USER=postgres
PG_DB=barber_shop

# ACSES_SECRET=ACSES_KEY
# REFRESG_SEKRET=REFRESH_KEY

JWT_SECRET=ACSES_KEY
JWT_REFRESH_SECRET=REFRESH_KEY

BASE_API="http://localhost:4000/api/uploud"


SUPPER_ADMIN_FULL_NAME= "Faxriddin Maripov"
SUPPER_ADMIN_PHONE_NUMBER= "+998940196141"
SUPPER_ADMIN_EMAIL= "fazliddinomariipov@gmail.com"
SUPPER_ADMIN_PASSWORD= "12345678"


MEIL_FROM="fazliddinomariipov@gmail.com"
MEIL_PASS="jjogyksgcmnlsgov"

TZ=Asia/Tashkent
